#schemaeditor-fields{
	width:600px;
	margin: 0;
}
li.schemaeditor-field{
	margin:5px 0;
	border: 1px solid black;
	padding: 5px;
	width:600px;
	height:28px;
	position:relative;
	background-color:#f3f3f3;
	list-style-image:none;
	list-style-type:none;
	display: block;
}
.schemaeditor-field span{
	margin: 5px;
}
.schemaeditor-field-mover {
    text-align:right;
}

.schemaeditor-field table{
	width:600px;
}
.schemaeditor-field td {
    text-align: left;
}
.droppable-active{
	border-color:gray;
}
.drag-handle{
	width:15px;
	height:15px;
	background-color:black;
}
.drag-handle:hover{
	cursor:pointer;
}
